*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #F7F5F1;

    overflow-x: hidden;
}

/* ================= CONTAINER ================= */

.login-container{
    width: 100%;
    height: 100vh;

    display: flex;
}

/* ================= LEFT ================= */

.login-left{
    width: 57%;

    position: relative;

    background:
        linear-gradient(
            135deg,
            #DDE4BE,
            #B8C97C
        );

    border-radius: 10px;

    overflow: hidden;
}

/* ================= WAVE ================= */

.wave-shape{
    position: absolute;

    top: 0;
    right: -2px;

    width: 120px;
    height: 100%;

    z-index: 1;
}

/* ================= OVERLAY ================= */

.left-overlay{
    position: absolute;

    width: 720px;
    height: 720px;

    border-radius: 50%;

    background: rgba(255,255,255,0.12);

    top: -220px;
    left: -180px;

    filter: blur(40px);
}

/* ================= CONTENT ================= */

.left-content{
    width: 82%;

    position: relative;
    z-index: 2;

    padding-top: 25px;
    padding-left: 18px;

    color: #1F311F;
}

.brand-badge{
    display: inline-flex;
    align-items: center;

    width: fit-content;

    padding: 11px 11px;

    border-radius: 999px;

    background: rgba(255,255,255,0.18);

    backdrop-filter: blur(12px);

    color: #5C744F;

    font-size: 18px;
    font-weight: 600;

    margin-bottom: 24px;
}

.left-content h1{
    font-size: 35px;
    line-height: 1.18;

    font-weight: 700;

    margin-bottom: 18px;
}

.left-content p{
    width: 72%;

    font-size: 13px;
    line-height: 1.8;

    color: rgba(31,49,31,0.72);

    margin-bottom: 5px;
}

.left-img{
    width: 100%;
    max-width: 530px;

    margin-top: 0px;
    margin-left: 40px;

    filter:
        drop-shadow(
            0 20px 30px rgba(0,0,0,0.08)
        );
}

/* ================= RIGHT ================= */

.login-right{
    width: 43%;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* ================= LIGHT GLOW ================= */

.login-right::before{
    content: '';

    position: absolute;

    width: 360px;
    height: 360px;

    border-radius: 50%;

    background: rgba(138,134,53,0.06);

    filter: blur(90px);

    top: 120px;
    right: -100px;
}

/* ================= CARD ================= */

.login-card{
    width: 390px;

    min-height: 540px;

    background: rgba(255,255,255,0.92);

    backdrop-filter: blur(20px);

    border-radius: 34px;

    padding: 34px 30px;

    position: relative;
    z-index: 2;

    box-shadow:
        0 18px 45px rgba(0,0,0,0.08);
}

.login-card h2{
    font-size: 22px;
    line-height: 1.15;
    text-align: center;

    font-weight: 700;

    color: #162516;

    margin-bottom: 25px;
}

.login-sub{
    font-size: 14px;
    line-height: 1.8;
    text-align: center;

    color: #6E6E6E;

    margin-bottom: 30px;
}

/* ================= INPUT ================= */

.input-group{
    width: 100%;
    height: 56px;

    background: #F5F6EF;

    border-radius: 16px;

    display: flex;
    align-items: center;

    padding: 0 18px;

    margin-bottom: 20px;

    border: 1.5px solid transparent;

    transition: .2s;
}

.input-group:focus-within{
    border-color: #8A8635;

    box-shadow:
        0 0 0 5px rgba(138,134,53,0.10);
}

.icon{
    width: 18px;

    margin-right: 12px;

    opacity: .75;
}

.login-input{
    width: 100%;

    border: none;
    outline: none;

    background: transparent;

    font-size: 14px;
    font-weight: 500;

    color: #222;
}

.login-input::placeholder{
    color: #9A9A9A;
}

/* ================= REMEMBER ================= */

.remember-box{
    margin-top: 4px;
    margin-bottom: 30px;
}

.remember-box label{
    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 13px;

    color: #666;
}

/* ================= BUTTON ================= */

.btn{
    width: 100%;
    height: 54px;

    border: none;

    border-radius: 16px;

    background:
        linear-gradient(
            135deg,
            #5F7D4E,
            #314A37
        );

    color: white;

    font-size: 15px;
    font-weight: 600;

    cursor: pointer;

    transition: .2s;

    box-shadow:
        0 15px 35px rgba(0,0,0,0.10);
}

.btn:hover{
    transform: translateY(-2px);

    box-shadow:
        0 18px 38px rgba(0,0,0,0.14);
}

/* ================= ERROR ================= */

.error{
    font-size: 13px;

    color: #D64545;

    margin-bottom: 14px;
}

/* RESPOSIVE */

/* ========================================================= */
/* ===================== TABLET ============================ */
/* ========================================================= */

@media (max-width:1024px){

.login-left{
    width:52%;
}

.login-right{
    width:48%;
}

.left-content{
    width:90%;
}

.left-content h1{
    font-size:30px;
}

.left-content p{
    width:90%;
}

.left-img{
    max-width:430px;
    margin-left:20px;
}

.login-card{
    width:350px;
}

}


/* ========================================================= */
/* ===================== MOBILE ============================ */
/* ========================================================= */

@media (max-width:768px){

.login-container{
    display:flex;
    flex-direction:column;
    height:auto;
}


/* ================= LOGIN ================= */

.login-right{

    order:1;

    width:100%;

    padding:0;

    justify-content:center;

    align-items:center;

    background:#F7F5F1;
}

.login-right::before{
    display:none;
}

.login-card{

    width:100%;
    max-width:none;

    margin:0;

    min-height:auto;

    padding:30px 24px;

    border-radius:0;

    box-shadow:none;
}


/* ================= DESKRIPSI ================= */

.login-left{

    order:2;

    width:100%;

    border-radius:0;

    margin-top:0;

    padding:30px 22px 35px;
}

.wave-shape{
    display:none;
}

.left-overlay{

    width:420px;
    height:420px;

    top:-100px;
    left:-120px;
}

.left-content{

    width:100%;

    padding:0;

    text-align:center;
}

.brand-badge{

    display:inline-flex;

    margin:0 auto 18px;

    font-size:15px;
}

.left-content h1{

    width:100%;

    font-size:34px;

    line-height:1.25;

    margin-bottom:16px;
}

.left-content p{

    width:100%;

    margin:auto;

    font-size:15px;

    line-height:1.8;
}

.left-img{

    display:block;

    width:100%;

    max-width:320px;

    margin:24px auto 0;
}


/* ================= FORM ================= */

.login-card h2{

    font-size:30px;
}

.login-sub{

    font-size:15px;

    margin-bottom:24px;
}

.input-group{

    height:58px;
}

.login-input{

    font-size:16px;
}

.btn{

    height:58px;

    font-size:17px;
}

}


/* ========================================================= */
/* ===================== PHONE ============================= */
/* ========================================================= */

@media (max-width:576px){

.login-right{

    padding:0;
}

.login-card{

    width:100%;

    padding:24px 18px;

    border-radius:0;
}

.login-left{

    padding:24px 18px 30px;
}

.brand-badge{

    font-size:14px;
}

.left-content h1{

    font-size:28px;

    line-height:1.25;
}

.left-content p{

    font-size:14px;

    line-height:1.8;
}

.left-img{

    max-width:250px;
}

.login-card h2{

    font-size:24px;
}

.login-sub{

    font-size:14px;

    margin-bottom:22px;
}

.input-group{

    height:54px;

    margin-bottom:16px;
}

.login-input{

    font-size:15px;
}

.btn{

    height:54px;

    font-size:16px;
}

.remember-box{

    margin-bottom:22px;
}

}


/* ========================================================= */
/* ================== SMALL PHONE ========================== */
/* ========================================================= */

@media (max-width:390px){

.login-right{

    padding:0;
}

.login-card{

    padding:20px 16px;
}

.login-card h2{

    font-size:22px;
}

.login-sub{

    font-size:13px;
}

.left-content h1{

    font-size:24px;
}

.left-content p{

    font-size:13px;
}

.left-img{

    max-width:210px;
}

}